.btn {
  margin: 5px 0;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
}
.btn-size {
  width: 112px;
  height: 40px;
  padding: 0;
  line-height: 40px;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  position: relative;
  top: 5px;
}
.icon-add {
  background: url("../images/icon/add.png") no-repeat;
}
.btn-nav {
  color: #898989;
  background-color: #fff;
}
.btn-nav:hover {
  color: #fff;
  background-color: #127ed4;
}
.btn-nav:hover .icon-add {
  background: url("../images/icon/add-hover.png") no-repeat;
}
.btn-standard {
  color: #fff;
  background-color: #5faded;
}
.btn-standard:hover {
  color: #fff;
  background-color: #127ed4;
}
.btn-pay {
  color: #fff;
  background-color: #ff7f00;
}
.btn-pay:hover {
  color: #fff;
  background-color: #db6d00;
}
.btn-normal {
  color: #898989;
  background-color: #f3f3f3;
}
.btn-normal:hover {
  color: #fff;
  background-color: #127ed4;
}
.btn-cancel {
  color: #5faded;
  background-color: #fff;
  border: 1px solid #5faded;
}
.btn-cancel:hover {
  color: #127ed4;
  background-color: #fff;
  border: 1px solid #127ed4;
}
.btn-nav.active {
  color: #fff;
  background-color: #148cec;
}
.btn-standard.active {
  color: #fff;
  background-color: #148cec;
}
.btn-pay.active {
  color: #fff;
  background-color: #e47200;
}
.btn-normal.active {
  color: #fff;
  background-color: #148cec;
}
.btn-cancel.active {
  color: #1269ae;
  background-color: #fff;
  border: 1px solid #1269ae;
}
/*功能按钮*/
.disabled {
  color: #898989;
  background-color: #e6e6e6;
  border: none;
  cursor: default;
}
.disabled:hover {
  color: #898989;
  background-color: #e6e6e6;
}
